:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  /* 移除 Vite 默认的 flex 和居中，避免布局崩坏 */
}
